body
  background-color: $almost-black
  color: $white
  font-family: 'Open Sans', sans-serif
  margin: 10px 0
  // overflow: scroll

a, a:visited
  text-decoration: none

p
  line-height: 19px

@media screen and (min-width: 961px)
  html
    background-color: $black
    display: flex
    justify-content: center
    height: 100%

    body
      border-radius: 15px
      width: 300px

      #app
        background-color: $almost-black
        padding-bottom: 2px
        border-radius: 15px

      img
        height: ((.94*400px) / (16/9)) !important

      .logo
        height: .80*400px !important
