@import '~@/assets/css/abstracts/variables'

.hello
  color: $navy-vue
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  margin-top: 60px
  text-align: center

h1, h2
  font-weight: normal

ul
  list-style-type: none
  padding: 0

li
  display: inline-block
  margin: 0 10px

a
  color: $green-vue
