@import '~@/assets/css/abstracts/variables'

.categories
  padding: 10px
  .categories__item
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 130px
    font: 700 $extralarge-font 'Open Sans', sans-serif
    color: $white
    background-color: grey

.container
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: 10px
  grid-row-gap: 10px
  .full-row
    grid-column-start: 1
    grid-column-end: 3
  // .left-half-row /* not needed at the moment */
  //   grid-column-start: 1
  //   grid-column-end: 2
  // .right-half-row /* not needed at the moment */
  //   grid-column-start: 2
  //   grid-column-end: 3

.soiree
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/soiree.jpg')
  background-position: center
  background-size: cover
.concert
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/concert.jpg')
  background-position: center
  background-size: cover
.gratuit
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/gratuit.jpg')
  background-position: center
  background-size: cover
.coupdecoeur
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/coupdecoeur.jpg')
  background-size: cover
.early
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/early.jpg')
  background-position: center
  background-size: cover
.after
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/after.jpg')
  background-position: center
  background-size: cover
.djset
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/djset.jpg')
  background-position: center
  background-size: cover
.house
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/house.jpg')
  background-position: center
  background-size: cover
.hiphop
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/hiphop.jpg')
  background-position: center
  background-size: cover
.rock
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/rock.jpg')
  background-position: center
  background-size: cover
.jazz
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/jazz.jpg')
  background-position: center
  background-size: cover
.chill
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/chill.jpg')
  background-position: center
  background-size: cover
.happy
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/happy.jpg')
  background-position: center
  background-size: cover
.festif
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/festif.jpg')
  background-position: center
  background-size: cover
.rave
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/images/categories/rave.jpg')
  background-position: center
  background-size: cover


// .chill
// .happy
// .festif
// .rave
