.scroll-x-wrapper
  -webkit-overflow-scrolling: touch
  display: flex
  flex-wrap: nowrap
  overflow-x: scroll
  overflow-y: hidden // temporary fix to vertical scrolling due to some elements overflowing up (i.e. 'li' in DatePicker.vue)

  .scroll-x-item
    flex: 0 0 auto

  &::-webkit-scrollbar
    display: none
