@import '~@/assets/css/abstracts/variables'

img
  display: block
  height: (94vw / (16/9))
  object-fit: cover
  overflow: hidden
  width: 100%

.list
  list-style: none
  margin: 25px 0 0
  padding: 0
  li
    background-color: $cod-gray
    border-radius: 15px
    box-shadow: 0 3px 5px 1px $black
    margin: 0 10px 30px
    overflow: hidden
    .infos
      padding: 10px
      display: block
      span
        display: block
      i
        font-size: 15px
        margin-right: 2px
        vertical-align: -2px
      .title
        font-size: 17px
        font-weight: 600
        margin-bottom: 10px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
      .date, .venue
        font-size: 15px
        span
          display: inline-block
        .date-start
          font-weight: 600
      .venue
        margin-top: 3px
    .tagsAndReason
      padding: 0 10px 10px
      .coupdecoeur
        align-items: center
        display: flex
        margin-top: 8px
        .reasonWhy
          color: $radical-red
          font-size: 13px
          line-height: 15px
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          span
            display: inline-block
            font-weight: 700

.spinner
  display: flex
  justify-content: center

a
  color: $white
  display: block
  text-decoration: none
  &:hover
    color: $white

.cover
  position: relative

.play
  align-items: center
  justify-content: center
  background-color: white
  border-radius: 90px
  bottom: 16px
  box-shadow: 0 0 5px 1px $black
  color: $tundora
  display: flex
  height: 60px
  position: absolute
  right: 16px
  width: 60px

.bottomPlay
  height: 50px
  background-color: red
