img
  height: (100vw / (16/9))
  object-fit: cover
  overflow: hidden
  width: 100%

.list
  list-style: none
  margin: 0
  padding: 0

  li
    margin-bottom: 15px

    span
      display: block

.spinner
  display: flex
  justify-content: center
