@import '~@/assets/css/abstracts/variables'

// Search bar
.form
  display: flex
  margin: 0 15px

.form__input
  border: 0
  border-radius: 8px
  font-family: 'Open Sans', sans-serif
  font-size: 15px
  height: 24px
  margin-right: 15px
  padding: 0 10px
  width: 100%

.form__submit
  background-color: inherit
  background-image: url('~@/assets/images/icons/magnifying_glass_white.png')
  background-position: center
  background-repeat: no-repeat
  background-size: auto 18px
  border: 0
  padding: 0
  width: 26px

// Date picker
.wrapper
  display: flex
  flex: 1
  overflow: auto

  .datepicker
    align-items: center
    background-color: $tundora
    box-sizing: border-box
    display: inline-flex
    font-size: 14px
    height: $datepicker-height
    list-style: none
    margin: 10px 0
    padding: 0

    li
      color: $white
      line-height: $datepicker-height
      padding: 0 15px
      
    .datepicker__all
      font-size: 20px
