@import '~@/assets/css/abstracts/variables'

.form
  display: flex
  // align-items: center
  margin: 10px 10px 0

  .form__input
    width: 100%
    padding: 4px 10px 6px
    font: $regular-font 'Open Sans', sans-serif
    background-color: $white
    border: 0
    border-radius: 15px

  .form__submit
    flex-shrink: 0
    box-sizing: content-box
    width: 26px
    margin-left: 12px
    padding: 0
    background-color: inherit
    background-image: url('~@/assets/images/icons/magnifying_glass_white.png')
    background-position: center
    background-size: auto 22px
    border: 0

  .categoriesButton
    width: 30px
    margin-left: 12px
    margin-right: 3px
    background-image: url('~@/assets/images/icons/categories_white.svg')
    background-position: center
    background-size: 22px
