@import '~@/assets/css/abstracts/variables'

.tags
  position: relative
  &::after
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 20px
    height: 100%
    background: linear-gradient(to right, rgba(26, 26, 26, 0), rgba(26, 26, 26, 1))
  .list
    padding: 0
    .list__item
      box-sizing: border-box
      border: solid 1px $white
      border-radius: 25px
      font: $small-font 'Open Sans', sans-serif
      margin-right: 5px
      padding: 0 6px 2px
      list-style-type: none
      // a, a:visited
      //   color: $white
    .list__item--active
      color: $black
      background-color: $white
