@import '~@/assets/css/abstracts/variables'

.tags
  margin: 8px 0 1px
  position: relative

  ul
    padding: 0

    li
      border: solid 1px $white
      border-radius: 25px
      display: inline
      font: 12px 'Open Sans', sans-serif
      margin-right: 5px
      padding: 0 6px 2px

  .shadow
    background: linear-gradient(to right, rgba(26, 26, 26, 0), rgba(26, 26, 26, 1))
    height: 100%
    position: absolute
    right: -5px
    width: 20px
