
$black = #000000

$almost-black = #101010
$cod-gray = #1A1A1A
$mine-shaft = #313131
$tundora = #4D4D4D
$emperor = #4F4F4F
$boulder = #7D7D7D
$silver-chalice = #A3A3A3

$white = white

$anakiwa = #93E9F9
$green-vue = #42b983
$navy-vue = #2c3e50

$datepicker-height = 34px
