/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$black = #000000

$almost-black = #101010
$cod-gray = #1A1A1A
$mine-shaft = #313131
$tundora = #4D4D4D
$emperor = #4F4F4F
$boulder = #7D7D7D
$silver-chalice = #A3A3A3
$alto = #D8D7D7
$alabaster = #F8F8F8

// $white = #FFFFFF
$white = #EEEEEE

$beta-blue = #1ea6f8
$dodger-blue = #3298FF
$anakiwa = #93E9F9
$spray = #8EE1F1
$green-vue = #42b983
$navy-vue = #2c3e50

$radical-red = #FF3274
$cinnabar = #e74c3c

   $rock-green      = #00b894
    $pop-pink       = #fd79a8
  $house-blue       = #74b9ff
 $techno-violet     = #6c5ce7
  $latin-yellow     = #F9BF3B
 $hiphop-orange     = #e17055
   $jazz-turquoise  = #00cec9
$electro-red        = #d63031


/*------------------------------------*\
  #SIZES
\*------------------------------------*/

$datepicker-height = 34px

$extralarge-font = 2.4rem
$large-font = 2.2rem
$med-large-font = 2rem
$regular-font = 1.6rem
$small-font = 1.4rem

$playPause-big = 3.6rem
$playPause-medium = 3rem
