/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$black = #000000

$almost-black = #101010
$cod-gray = #1A1A1A
$mine-shaft = #313131
$tundora = #4D4D4D
$emperor = #4F4F4F
$boulder = #7D7D7D
$silver-chalice = #A3A3A3
$alto = #D8D7D7
$alabaster = #F8F8F8

// $white = #FFFFFF
$white = #EEEEEE

$beta-blue = #1ea6f8
$dodger-blue = #3298FF
$anakiwa = #93E9F9
$spray = #8EE1F1
$green-vue = #42b983
$navy-vue = #2c3e50

$radical-red = #FF3274
$cinnabar = #e74c3c

/*------------------------------------*\
  #SIZES
\*------------------------------------*/

$datepicker-height = 34px

$extralarge-font = 2.4rem
$large-font = 2.2rem
$regular-font = 1.8rem
$small-font = 1.4rem
